
<div class="star-wars-logo">
  <img src="assets/Star_Wars_Logo.svg.png" />
</div>
<div class="introdution">
<p class="introdution-text">
  The Star Wars story has been presented in a series of American films, which
  have spawned a large quantity of books and other media, which have formed the
  Expanded Universe. The Star Wars mythos is also the basis of many toys and
  games of varying types. The films and novels employ common science-fiction
  motifs.
</p>
<p class="introdution-text">
  Whereas Gene Roddenberry's Star Trek, a science fantasy franchise that has
  enjoyed long-lasting popularity in American popular culture, and often
  combines magical/supernatural elements with a rational and progressive
  approach to storytelling, Star Wars has a strong mythic quality alongside its
  political and scientific elements.
</p>
<p class="introdution-text">
  Unlike the heroes of earlier space-set sci-fi/fantasy film and TV series such
  as Flash Gordon, the heroes of Star Wars are not militaristic types but
  romantic individualists. College literature professors have remarked that the
  Star Wars saga, with its struggle between good and evil, democracy and empire,
  can be considered a national epic for the United States. The film has many
  visual and narrative similarities to John Ford's The Searches, which also
  provides a clue to the relationship between Leia Organa and Luke Skywalker.
</p>
<p class="introdution-text">
  George Lucas attributed the strong appeal of Star Wars to it being a mythology
  that takes from thousand-year-old psychological motifs and underpinnings of
  humanity. Particularly, Lucas saw children as the prime audience for such
  stories. The Star Wars films show considerable similarity to Japanese
  Jidaigeki films, as well as Roman mythology. Lucas has stated that his
  intention was to create in Star Wars a modern mythology, based on the studies
  of his friend and mentor Joseph Campbell. He has also called the first movie's
  similarity to the film The Hidden Fortress (Akira Kurosawa) an "homage."
</p>
<p class="introdution-text">
  The Star Wars films portray a world full of grime and technology that looks
  like it has been used for years, unlike the sleek, futuristic world typical of
  earlier science-fiction films. In interviews, Lucas tells of rubbing the new
  props with dirt to make them look weatherworn. Lucas may have been inspired by
  the Sergio Leone Spaghetti Western films of the 1960s, which performed a
  similar function on the Western many years earlier. It is tempting to
  speculate that this break from traditional science-fiction film influenced the
  cyberpunk genre that emerged around 1984.
</p>
<p class="introdution-text">
  Licensed Star Wars novels have been published since the original movie was
  released in 1977. Although these novels are licensed by Lucas (meaning he
  shares in the royalties), he retains ultimate creative control over the Star
  Wars universe, forcing Lucas Licensing to devote considerable ongoing effort
  to ensuring continuity between different authors' works and Lucas' films.
  Occasionally, elements from these novels are adopted into the highest tier of
  Star Wars canon, the movies. Books, games, and stories that are not directly
  derived from the nine movies of Star Wars are known as the Extended or
  Expanded Universe (EU for short). Lucas has said that he does not deeply
  involve himself in the EU, choosing instead to concentrate mainly on his
  movies instead of "…the licensing world of the books, games and comic books."
</p>
<p class="introdution-text">
  The original (1977) Star Wars (A New Hope) and the first sequel, The Empire
  Strikes Back (1980), have been selected for preservation in the United States
  National Film Registry.
</p>
<p class="introdution-text">
  The mainline story of Star Wars, known as the The Skywalker Saga, ended in
  2019 with the release of Star Wars: Episode IX The Rise of Skywalker. However,
  the Star Wars franchise itself has not ended, and is continuing to move on
  past the story of the original saga with shows like The Mandalorian and the
  upcoming project known as the Star Wars: The High Republic.
</p>
</div>
