.example-spacer {
  flex: 1 1 auto;
}

.title {
  margin-left: 10px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  background-color: black;
  color: yellow;
}
